:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

app-footer {
  flex-shrink: 0;
}