services:
  backend:
    build:
      context: ./gallery_backend
      dockerfile: Dockerfile
    container_name: gallery_backend
    env_file:
      - ./gallery_backend/.env
    volumes:
      - ./gallery_backend/staticfiles:/app/staticfiles   # static files bind mount
      - ./gallery_backend/paintings:/app/paintings      # images bind mount
    expose:
      - 8000

  nginx:
    build:
      context: ./gallery-app
      dockerfile: Dockerfile
    container_name: gallery_nginx
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./gallery_backend/staticfiles:/vol/staticfiles:ro  # static files bind mount read-only
      - ./gallery_backend/paintings:/vol/media:ro         # images bind mount read-only
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
